
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rule</h2>

<p>
    Description
</p>

<p>
    <a href="@Url.Action("Contact", "Settings")" class="btn btn-info btn-lg"> Contact with Us</a>
</p>