<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="index.html"><i class="fa fa-fw fa-bar-chart-o"></i> Home</a>
        </li>
        <li>
            <a href="#" data-toggle="collapse" data-target="#Order"><i class="fa fa-fw fa-edit"></i> Orders <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="Order" class="collapse">
                <li>
                    <a href="#">Create new order</a>
                </li>
                <li>
                    <a href="#">List orders</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#Client"><i class="fa fa-fw fa-table"></i> Client Card <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="Client" class="collapse">
                <li>
                    <a href="#">New card of the client</a>
                </li>
                <li>
                    <a href="#">List of client cards</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#Car"><i class="fa fa-fw fa-car"></i> Car <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="Car" class="collapse">
                <li>
                    <a href="#">Add new car</a>
                </li>
                <li>
                    <a href="#">List related car</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
        </li>
        <li>
            <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Settings</a>
        </li>
    </ul>
</div>
